*.jpg
*.jpeg
*.png
*.gif
images/account.php
*.db
*.cur
images/social_bookmarks/license.txt
images/error_log
images/downloader.php
images/hm/hm.html
images/12.bmp
images/.htaccess
images/yahoo/index.php
images/Scrap (2).shs
images/jigsf/index.php