/* DO NOT CHANGE THIS FILE -------------------------------------------------- */
/* TO OVER-RIDE ANY ASPECT OF THIS CSS, AMEND THE user.css FILE ------------- */


/* Historical osCommerce ---------------------------------------------------- */

.buttonSet {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonSet { zoom: 1; }
.buttonSet:before, .buttonSet:after { content: ""; display: table; }
.buttonSet:after { clear: both; }

.buttonAction {
  float: right;
}

.piGal {
  width: 250px !important;
}

.piGal img {
  max-width: 250px;
  height: auto;
}

.inputRequirement, .markProductOutOfStock, .stockWarning {
  color: #B33A3A;
}

.markProductOutOfStock, .stockWarning {
  font-weight: bold;
}

ul.accountLinkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

ul.shoppingCartList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.shoppingCartList li.newItemInCart, ul.shoppingCartList li.newItemInCart A {
  color: red;
}

/* Alignment of Form Inputs ------------------------------------------------- */

.form-control {
  margin-bottom: 5px;
  display: inline;
}

/* for the product page rework ---------------------------------------------- */

.page-header h1 del {
  font-size: 0.5em;
}

/* for the listings module rework ------------------------------------------- */

.productHolder {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 4px;
  -webkit-transition: border .5s ease-in-out;
       -o-transition: border .5s ease-in-out;
          transition: border .5s ease-in-out;
}

.productHolder:hover {
  border: 1px solid #428bca;
}

.productHolder h2 {
  font-size: 1.3em;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    border: none;
}

.item.list-group-item img {
    float: left !important;
    margin-right: 10px !important;
}

.grid-group-item {
  margin-bottom: 20px;
}

.grid-group-item .list-group-item-text {
  display: none;
}

p.lead del {
  font-size: 0.5em;
}

/* Responsive Images  ------------------------------------------------------- */
/* the inbuilt bootstrap responsive images class breaks the text-center class */

#bodyContent .img-responsive, #columnLeft .img-responsive, #columnRight .img-responsive {
  margin-left: auto;
  margin-right: auto;
}

/* Checkout Bar ------------------------------------------------------------- */
.stepwizard {
  margin-top: 20px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 33%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/* Pagination  ------------------------------------------------------- */
.pagenav {
   position: relative;
   top:-25px;
   left:3px;
   height: 40px !important;
}
.pagenumber {
  margin-bottom:7px;
}

/* Reviews ------------------------------------------------------------------ */

.reviews blockquote p {
  font-size: 0.8em;
}

/* Responsive Text Alignment ------------------------------------------------ */
/* https://github.com/twbs/bootstrap/issues/11292 --------------------------- */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

/* Footer ------------------------------------------------------------------- */
.footer {
  background: #eee;
  border-top: 2px solid #ddd;
}

.footer .footerbox {
  padding: 10px 10px 0px 10px;
}

.footer-extra {
  background: #111;
  color: silver;
  line-height: 3;
}

.footer-extra A {
  color: silver;
}

.footer h2 {
  padding: 0;
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: rgb(142,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact {
  border-left: 1px solid #ddd;
}

/* Account History Info ----------------------------------------------------- */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 0px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p .timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-body blockquote {
  font-size: 1em;
}

/* Nav Bars ----------------------------------------------------------------- */

.navbar-no-corners {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.navbar-no-margin {
  margin-bottom: 0 !important;
}

.searchbox-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control-feedback{
	padding-right:2%;
}
/*********************************************
				ITEM 
*********************************************/
.product{
	border: 1px solid #dddddd;
	height: 321px;
}

.product>img{
	max-width: 230px;
}

.product-rating{
	font-size: 20px;
	margin-bottom: 25px;
}

.product-title{
	font-size: 20px;
}

.product-desc{
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}

.product-info{
		margin-top: 50px;
}
.service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
}

.service1-item {
	height: 107px;
	width: 120px;
	display: block;
	float: left;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.service1-item > img {
	max-height: 110px;
	max-width: 110px;
	opacity: 0.6;
	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
	cursor: pointer;
	opacity: 1;
}

.service-image-left {
	padding-right: 50px;
}

.service-image-right {
	padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
	max-height: 155px;
}
/* css by ceylon360 */

/* small margine for product grid */

.lowMargin{padding-left:5px; padding-right:5px;}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1px;
    -webkit-transition: border .8s ease-in-out;
    -o-transition: border .8s ease-in-out;
    transition: border .8s ease-in-out;
}


/*CATOGORY bOX */
.cat_nav ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  /*border: 1px solid #eaeaea; */
}

.cat_nav ul li {
  background: #f3f4f6 none repeat scroll 0 0;
  border-bottom: 1px solid #eaeaea;
  border-left: 4px solid #f3f4f6;
  color: #333333;
  padding: 5px 12px;
  position: relative;
  transition: all 0.6s ease 0s;
}
.home_three .home_three_sidebar .cat_nav ul li:hover {
  border-left: 4px solid #f9c831;
}
.cat_nav ul.cat_csub.cat_csub00, .cat_nav ul.cat_csub.cat_csub01, .cat_nav ul.cat_csub.cat_csub05, .cat_nav ul.cat_csub_sub.cat_csub_sub07, .cat_nav ul.cat_csub_sub.cat_csub_sub06, .cat_nav ul.cat_csub_sub.cat_csub_sub03, .cat_nav ul.cat_csub_sub.cat_csub_sub02, .cat_nav ul.cat_csub_sub.cat_csub_sub04 {
  border: 0 solid;
}
.cat_nav ul.cat_csub.cat_csub00 li, .cat_nav ul.cat_csub.cat_csub01 li, .cat_nav ul.cat_csub.cat_csub05 li, .cat_nav ul.cat_csub_sub.cat_csub_sub07 li, .cat_nav ul.cat_csub_sub.cat_csub_sub06 li, .cat_nav ul.cat_csub_sub.cat_csub_sub03 li, .cat_nav ul.cat_csub_sub.cat_csub_sub02 li, .cat_nav ul.cat_csub_sub.cat_csub_sub04 li {
  padding: 4px 0 4px 3px;
}
.support-info .info-title {
  margin-bottom: 3px;
}
.cat_nav ul.cat_csub.cat_csub00 li {
  padding: 4px 0 4px 3px;
}
.cat_nav ul li:hover{
	border-left: 4px solid #2ecc71;
	padding-left:20px;
	transition:.1s;
	color:#333;
	background: #F9F9F9;
}
.cat_nav ul li>a {
    position: relative;
    display: block;
    padding: 2px 3px;
	color: #4E4D4D;
}
.categories_title {
  background: #2ecc71 none repeat scroll 0 0;
  margin-top: 0px;
  padding: 0;
}
.categories_title {
 /* background: #f9c831 none repeat scroll 0 0;  */
  margin-top: 0px;
  padding: 0;
}
.categories_title span {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: 0 none;
color: #ffffff;
display: inline-block;
font-size: 16px;
font-weight: 700;
letter-spacing: 2px;
line-height: 40px;
text-transform: uppercase;
padding-left: 20px;
}
/* catogory box curve */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}