/* user.css ----------------------------------------------------------------- */

/* BO Back-to-Top-Button*/
#toTop {cursor: pointer; position: fixed; bottom: 30px; right:15px; z-index: 2; display:none; border: 1px solid #000;  color: #ffffff;
  border-color: #357ebd;
  background-color: #0489FB;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#B5DCFD), to(#0489FB));
  background-image: -webkit-linear-gradient(top, #B5DCFD, 0%, #0489FB, 100%);
  background-image: -moz-linear-gradient(top, #B5DCFD 0%, #0489FB 100%);
  background-image: linear-gradient(to bottom, #B5DCFD 0%, #0489FB 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5DCFD', endColorstr='#0489FB', GradientType=0);}

#toTop:hover,
#toTop:focus {background-color:#fff;}
/* EO Back-to-Top-Button*/

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}
.product-out-stock{
	color: #d9534f;
	font-size: 20px;
	margin-top: 10px;
}
//////////
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
.shop-tracking-status .form-horizontal{margin-bottom:50px}
.shop-tracking-status .order-status{position:relative;margin:25px}
.shop-tracking-status .order-status-timeline{height:12px;border:1px solid #ececec;border-radius:7px;background:#f5f5f5;}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion{height:8px;margin:1px;border-radius:7px;background:#73C367;width:0px}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c1{width:22%}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c1_1{width:30%}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c2{width:46%}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c3{width:100%}
.shop-tracking-status .image-order-status{border:1px solid #f4f4f4;padding:9px;background-color:#fdfdfd;position:absolute;margin-top:-32px}.shop-tracking-status .image-order-status.disabled{filter:url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:gray;}
.shop-tracking-status .image-order-status.active{border: 1px solid #73C367;}
.shop-tracking-status .image-order-status.active .status{color:#2ecc71;text-shadow:0px 0px 1px #777}
.shop-tracking-status .image-order-status .icon{padding-left: 0px;}
.shop-tracking-status .image-order-status .status{position:absolute;text-shadow:1px 1px #eee;color:#333;width:180px;top:-50px;left:50px}
.shop-tracking-status .image-order-status .status:before{font-family:FontAwesome;content:"\f053";padding-right:5px}
.shop-tracking-status .image-order-status-new{left:0}
.shop-tracking-status .image-order-status-new .icon{padding-left: 0px;}
.shop-tracking-status .image-order-status-active{left:45%}
.shop-tracking-status .image-order-status-active .icon{}
.shop-tracking-status .image-order-status-intransit{left:45%}
.shop-tracking-status .image-order-status-intransit .icon{padding-left: 0px;}
.shop-tracking-status .image-order-status-delivered{left:70%}
.shop-tracking-status .image-order-status-delivered .icon{padding-left: 0px;}
.shop-tracking-status .image-order-status-delivered .status{top:85px;left:-180px;text-align:right}
.shop-tracking-status .image-order-status-delivered .status:before{display:none}
.shop-tracking-status .image-order-status-delivered .status:after{font-family:FontAwesome;content:"\f054";padding-left:5px;vertical-align:middle}
.shop-tracking-status .image-order-status-completed{right:0px}
.shop-tracking-status .image-order-status-completed .icon{}
.shop-tracking-status .image-order-status-completed .status{top:85px;left:-180px;transform:rotate(-30deg);-webkit-transform:rotate(-30deg);text-align:right}.shop-tracking-status .image-order-status-completed .status:before{display:none}
.shop-tracking-status .image-order-status-completed .status:after{font-family:FontAwesome;content:"\f054";padding-left:5px;vertical-align:middle}


/* css by ceylon360 */

/* small margine for product grid */

.lowMargin{padding-left:5px; padding-right:5px;}