/* user.css ----------------------------------------------------------------- */

/* BO Back-to-Top-Button*/
#toTop {cursor: pointer; position: fixed; bottom: 30px; right:15px; z-index: 2; display:none; border: 1px solid #000;  color: #ffffff;
  border-color: #357ebd;
  background-color: #0489FB;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#B5DCFD), to(#0489FB));
  background-image: -webkit-linear-gradient(top, #B5DCFD, 0%, #0489FB, 100%);
  background-image: -moz-linear-gradient(top, #B5DCFD 0%, #0489FB 100%);
  background-image: linear-gradient(to bottom, #B5DCFD 0%, #0489FB 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5DCFD', endColorstr='#0489FB', GradientType=0);}

#toTop:hover,
#toTop:focus {background-color:#fff;}
/* EO Back-to-Top-Button*/

.product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
}
.product-out-stock{
	color: #d9534f;
	font-size: 20px;
	margin-top: 10px;
}
//////////
@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
.shop-tracking-status .form-horizontal{margin-bottom:50px}
.shop-tracking-status .order-status{    position: relative;    margin: 25px;    WIDTH: 60%;    margin-left: auto;    margin-right: auto;}
.shop-tracking-status .order-status-timeline{height:5px;border:1px solid #ececec;border-radius:7px;background:#f5f5f5;}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion{height: 4px;margin: 0px;border-radius: 7px;background: #8BC34A;width: 0px;}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c1{width:22%}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c1_1{width:30%}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c2{width:46%}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c2_2{width:80%}
.shop-tracking-status .order-status-timeline .order-status-timeline-completion.c3{width:100%}
.shop-tracking-status .image-order-status{border:1px solid #f4f4f4;padding:9px;background-color:#fdfdfd;position:absolute;margin-top: -25px;font-size: 10px;}
.shop-tracking-status .image-order-status.disabled{filter:url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale");filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:gray;}
.shop-tracking-status .image-order-status.active{border: 1px solid #73C367;color:#8BC34A;}
.shop-tracking-status .image-order-status.active .status{color:#2ecc71;text-shadow:0px 0px 1px #777}
.shop-tracking-status .image-order-status .icon{padding-left: 0px;}
.shop-tracking-status .image-order-status .status{position:absolute;text-shadow:1px 1px #eee;color:#333;width:180px;top:-50px;left:50px}
.shop-tracking-status .image-order-status .status:before{font-family:FontAwesome;content:"\f053";padding-right:5px}
.shop-tracking-status .image-order-status-new{left:0}
.shop-tracking-status .image-order-status-new .icon{padding-left: 0px;}
.shop-tracking-status .image-order-status-active{left:45%}
.shop-tracking-status .image-order-status-active .icon{}
.shop-tracking-status .image-order-status-intransit{left:45%}
.shop-tracking-status .image-order-status-intransit .icon{padding-left: 0px;}
.shop-tracking-status .image-order-status-delivered{left:70%}
.shop-tracking-status .image-order-status-delivered .icon{padding-left: 0px;}
.shop-tracking-status .image-order-status-delivered .status{top:85px;left:-180px;text-align:right}
.shop-tracking-status .image-order-status-delivered .status:before{display:none}
.shop-tracking-status .image-order-status-delivered .status:after{font-family:FontAwesome;content:"\f054";padding-left:5px;vertical-align:middle}
.shop-tracking-status .image-order-status-completed{right:0px}
.shop-tracking-status .image-order-status-completed .icon{}
.shop-tracking-status .image-order-status-completed .status{top:85px;left:-180px;transform:rotate(-30deg);-webkit-transform:rotate(-30deg);text-align:right}.shop-tracking-status .image-order-status-completed .status:before{display:none}
.shop-tracking-status .image-order-status-completed .status:after{font-family:FontAwesome;content:"\f054";padding-left:5px;vertical-align:middle}



////////////FAB BTN

.toasts {
  position: fixed;
  bottom: 1em;
  left: 1em;
}
.toasts .floatingText {
  position: relative;
  display: inherit;
  background-color: #212121;
  border-radius: 0.19em;
  padding: 1em 2em;
  text-align: left;
  font-weight: 300;
  font-size: 0.8em;
  min-width: 15em;
  color: #FFF;
  font-family: 'Roboto';
}

.floatingContainer {
  position: fixed;
  bottom: 2em;
  right: 2em;
}
.floatingContainer:hover .subActionButton {
  transition: opacity 1.2s;
}
.floatingContainer:hover .subActionButton + .subActionButton {
  transition: opacity 0.8s;
}
.floatingContainer:hover .subActionButton + .subActionButton + .subActionButton {
  transition: opacity 0.4s;
}
.actionButton {
  height: 4em;
  width: 4em;
  background-color: #D32F2F;
  position: relative;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
.actionButton .floatingText {
  display: none;
  position: absolute;
  top: -.2em;
  right: 3.5em;
  min-width: 10em;
  font-family: 'Roboto';
  color: #FFF;
  text-align: right;
}
.actionButton .floatingText.show {
  display: inherit;
}
.actionButton .floatingTextBG {
  padding: 0.2em 0.5em;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: .3em;
}
.actionButton.display {
  display: inherit;
}
.actionButton:before {
  content: '\f067';
  color: #FFF;
  position: absolute;
  margin-top: .3em;
  margin-left: .6em;
  opacity: 1;
  font-size: 2em;
  font-weight: 200;
  font-family: 'FontAwesome';
  transform: rotate3d(0, 0, 1, -180deg);
  transition: content 0.4s, transform 0.4s, opacity 0.2s;
}
.actionButton:after {
  content: '\f007';
  color: #FFF;
  position: absolute;
  margin-top: .3em;
  margin-left: .6em;
  font-size: 2em;
  font-weight: 200;
  opacity: 0;
  font-family: 'FontAwesome';
  transform: rotate3d(0, 0, 1, -180deg);
  transition: content 0.4s, transform 0.4s, opacity 0.4s;
}
.actionButton.open::before {
  transform: rotate3d(0, 0, 1, 0deg);
  opacity: 0;
}
.actionButton.open::after {
  transform: rotate3d(0, 0, 1, 0deg);
  opacity: 1;
}
.actionButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
}

.subActionButton {
  background-color: #5CB85C;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-bottom: .6em;
  margin-left: .5em;
  opacity: 0;
  position: relative;
  z-index: 1000;
}
.subActionButton .floatingText {
  position: absolute;
  top: 0.8em;
  right: 3.8em;
  min-width: 10em;
  font-family: 'Roboto';
  color: #FFF;
  text-align: right;
  opacity: 0;
  transition: opacity 0.4s;
}
.subActionButton .floatingText.show {
  opacity: 1;
}
.subActionButton .floatingTextBG {
  padding: 0.2em 0.5em;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: .3em;
}
.subActionButton.display {
  opacity: 1;
}
.subActionButton:before {
  margin-top: .4em;
  margin-left: .9em;
  font-size: 1.5em;
  font-family: 'FontAwesome';
  position: absolute;
  color: #FFF;
}
.subActionButton.skype:before {
  content: '\f17e';
  margin-top: .3em;
  margin-left: .5em;
}

.subActionButton.subActionButton.skype {

  background-color:#5BC0DE;
}

.subActionButton.mapMarker:before {
  content: '\f041';
  margin-top: .35em;
  margin-left: .7em;
}
.subActionButton.note:before {
  content: '\f044';
  margin-top: .4em;
  margin-left: .6em;
}
.subActionButton:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 16px rgba(0, 0, 0, 0.28);
}

.panel-heading.cartbox {
    background-color: #2ECC71;
}

.panel-heading.cartbox >a {
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 20px;
}

/* css by ceylon360 */

/* small margine for product grid */

.lowMargin{padding-left:5px; padding-right:5px;}

/* Gray Background */

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAAGXRFW…GbbwSH+qhA/6URXMyqBUhFBLIP6ip0ezk2zExqC58nwACVZwX67tO41gAAAABJRU5ErkJggg==), url(http://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/imgbg.jpg);
    background-position: 0px 30px, 0px 0px, 0px 0px;
    background-repeat: repeat-x, repeat, repeat;

    background-color: #F5F5F5;
}
.page-header {
    padding-bottom: 6px;
    margin: 30px 0 15px;
    border-bottom: 1px solid #eee;
}
.cat_nav ul li {
    background: #FFFFFF none repeat scroll 0 0;
    border-bottom: 1px solid #eaeaea;
    border-left: 4px solid #FFFFFF;
    /* color: #333333; */
    /* padding: 5px 12px; */
    /* position: relative; */
    /* transition: all 0.6s ease 0s; */
}
a {
    color: #3E3E3E;
    text-decoration: none;
}

.breadcrumb {
     padding: 3px 15px;
    border-radius: 0px;
    border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.card {
	background-color: #FFF;
    border: 1px solid #DDD;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding:20px;
	margin-bottom:30px;
    
}
.card2 {
	background-color: #FFF;
    border: 1px solid #DDD;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding:10px;
	margin-bottom:15px;
    
}
.card3 {
	background-color: #FFF;
    border: 1px solid #DDD;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 3px 0 rgba(0, 0, 0, 0.06);
	margin-bottom:15px;
	padding:0px;
    
}
.card-blue{
	border-top: 3px solid #3AA1F4;
	
}	
.card-green{
	border-top: 3px solid #8BC34A;
}	

.card-yellow{
	border-top: 3px solid #FFC107;
}
.card-gray {
    border-top: 3px solid #9E9E9E;
}
.mdl {
    color: #888;
    font-size: 16px;
}
.md2 {
    color: #888;
    font-size: 13px;
}
.n-padding{
	padding:0px;
}
.n-margin{
	margin:0px;
}


/* form feild modifications */

.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-bottom: 3px solid #ccc;
    border: 0px solid #ccc;
    border-radius: 1px;
    border-bottom: 3px solid #333;
}

.form-control1:focus {
    border-color: #FFC107;
    outline: 0;
	
}

/* top navigation */
.navbar-inverse .navbar-nav>li>a {
    color: #565656;
}

@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 6px;
    padding-bottom: 5px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
    font-size: 12px;
}

.navbar-inverse {
    background-color: #FFF;
    border-color: #E0E0E0;
}
.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 1px solid rgb(224, 224, 224);
}
.navbar-no-margin {
    margin-bottom: 5px !important; 
}

.searchbox-margin {
    margin-top: 4%;
    margin-bottom: 10px;
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #3379B7;
    background-color: transparent;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.footer-extra {
    background: #2b3340;
    color: silver;
    line-height: 3;
}
/*countdown*/
div#exp-ct {
    background-color: #8BC34A;
    float: left;
    padding: 2px 10px 2px 10px;
    text-align: center;
    margin-right: 10px;
    width: 50px;
border-radius:2px;
    font-size: 29px;
    color: white;
}
div#exp-tt {
    font-size: 13px;
}
.navbar-inverse .navbar-text {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
    font-size: 12px;
    
}

.navbar-text {
 margin-top: 0px;
 margin-bottom: 0px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
}
.productHolder h2 {
    font-size: 1em;
    padding-top: 1em;
    height: 2.2em;
}
.header {
    color: #808080;
    margin-left: 10%;
    margin-top: 20px;
    text-align: justify;
}
body {font-size: 13px;}

.catlink {
    font-size: 85%;
    color: #3F51B5;
}
.caption.text-center h5 {
    margin-bottom: 0px;
    font-weight: 700;
}